.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.footer > div {
  display: flex;
  align-items: center;
}

.footer > div a:not(:last-of-type) {
  margin-right: 1em;
}

.footer > div a {
  margin-right: 1em;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.07em;
  color: #ffffff;
  margin-bottom: 2em;
}

.footer > div img {
  width: 24px;
  height: 24px;
}

.footer > div img:not(:last-of-type) {
  margin-right: 1em;
}

@media (max-width: 576px) {
  .footer .links {
    display: flex;
    flex-direction: column;
  }
  .footer > div a {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .footer > div a:not(:last-of-type) {
    margin-right: 0;
  }
}
