.contactus .hero {
  height: calc(100vh - 100px);
  position: relative;
  background: url(../../assets/images/what_is_cryptonlyfans.png);
  background-position: center; 
  background-size: cover;
  background-position: center;
  margin-bottom: 3em;
}

.contactus .hero p {
  position: absolute;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.contactus .hero img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.contactus .contact_info {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 2em;
}

.contactus .contact_info .image {
  width: 100%;
  height: 100%;
}

.contactus .contact_info .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contactus .contact_info .forms {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactus .contact_info div {
  margin-bottom: 1em;
}

.contactus .contact_info div p:nth-child(1) {
  margin-bottom: 1.25em;
  text-align: start !important;
}

.contactus .contact_info div p input,
.contactus .contact_info div p textarea {
  width: 100%;
  background: #0b090e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "futura_bk_ft";
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 0.07em;
}

.contactus .contact_info div p textarea {
  resize: none;
}

.contactus .contact_info div p input::placeholder,
.contactus .contact_info div p textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.07em;
  color: rgba(204, 204, 204, 0.5);
  font-family: "futura_bk_ft";
}

@media (max-width: 576px) {
  .contactus .contact_info {
    display: flex;
    flex-direction: column-reverse;
  }
}
